<?xml version="1.0"?>
<config>
    <hostname>tandashi.de</hostname>
    <port>123</port>
    <workingDir>/home/remote/</workingDir>
    <protocol>sftp</protocol>
    <username>remote</username>
    <password>12345</password>
    <id3_title>Title</id3_title>
    <id3_artist>Artist</id3_artist>
    <id3_year>2001</id3_year>
    <id3_comment>Comment</id3_comment>
    <id3_genre>Genre</id3_genre>
    <mp3_bitrate>32.0</mp3_bitrate>
</config>